* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif,verdana;
    height: 100vh;
    background: linear-gradient(45deg, #000000 75%, #615f5f 25%);
    color: #fff;
    text-align: center;
}
h1 {
    font-size: 61px;
    margin-top: 28px;
}
.input-box {
    width: 500px;
    height: 35px;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    margin: 20px;
}

#input-field {
    width: 100%;
    height: 30px;
    border: none;
    font-size: 18px;
    outline: none;
}

.fa-google {
    color: rgb(61, 61, 61);
    padding: 0px 10px;
    font-size: 18px;
    cursor: pointer;
}

#input-btn {
        padding: 9px 11px;
        background-color: #3d3c3c;
        border: none;
        cursor: pointer;
}
.fa-search {
    font-size: 17px;
    cursor: pointer;
    color: #fff;
}

.fa-th {
    position: absolute;
    right: 11%;
    top: 5%;
    font-size: 28px;
    cursor: pointer;
}
.fa-th:hover {
    background-color: #f7efec;
    padding: 6px;
    border-radius: 50%;
    color: #a09e9d;
}

.fa-user-circle {
    position: absolute;
    right: 11%;
    top: 5%;
    font-size: 28px;
    cursor: pointer;
}
.fa-user-circle:hover {
    background-color: #f7efec;
    padding: 6px;
    border-radius: 50%;
    color: #a09e9d;
}

.fa-gear {
    right: 7%;
    top: 5%;
    font-size: 28px;
    cursor: pointer;
    position: absolute;
}

.fa-gear:hover {
    background-color: #f7efec;
    padding: 6px;
    border-radius: 50%;
    color: #a09e9d;
}

.fa-bars {
    position: absolute;
    right: 11%;
    top: 5%;
    font-size: 28px;
    cursor: pointer;
}
.fa-bars:hover {
    background-color: #f7efec;
    padding: 6px 9px;
    border-radius: 50%;
    color: #a09e9d;
}

.fa-phone {
    position: absolute;
    right: 15%;
    top: 5%;
    font-size: 28px;
    cursor: pointer;
}

.fa-phone:hover {
    background-color: #f7efec;
    padding: 6px;
    border-radius: 50%;
    color: #a09e9d;
}

.fa-xmark {
    position: absolute;
    right: 11%;
    top: 5%;
    font-size: 28px;
    cursor: pointer;
    display: block;
}
.fa-xmark:hover {
    background-color: #f7efec;
    padding: 6px 9px;
    border-radius: 50%;
    color: #a09e9d;
}

.fa-info-circle {
    font-size: 18px;
    display: block;
    position: absolute;
    right: 29%;
    top: 53%;
}

.mini-btn {
    margin: 18px 0px;
}

span {
    margin: 10px 5px;
    background-color: #ffffff54;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.menu-content {
    position: absolute;
    right: 2%;
    background: linear-gradient(45deg, #424242 75%, #e6dede 25%);
    top: 17%;
    width: 18%;
    height: 0;
    border-radius: 10px;
    display: block;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
}
.menu-content.open {
    height: 35vh;
}
.settings {
    font-size: 24px;
    cursor: pointer;
    margin-top: 12px;
}

.page_toogle_btn {
    font-size: 24px;
    cursor: pointer;
}

.account {
    font-size: 24px;
    cursor: pointer;
}

.phone_call {
    background: inear-gradient(45deg, #424242 75%, #e6dede 25%);
    width: 0%;
    padding: 0px;
    border-radius: 0px;
    position: absolute;
    top: 14%;
    right: 37%;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: default;
    font-family: sans-serif;
    height: 0;
    color: transparent;
}   

.phone_call.call {
    background: linear-gradient(45deg, #424242 75%, #e6dede 25%);
    display: block;
    height: 23vh;
    width: 24%;
    padding: 59px;
    color: #fff;
    position: absolute;
    border-radius: 10px;
    right: 7%;
}
.fa-close {
    position: absolute;
    right: 15%;
    top: 5%;
    font-size: 28px;
    cursor: pointer;
}

.fa-close:hover {
    background-color: #f7efec;
    padding: 6px 9px;
    border-radius: 50%;
    color: #a09e9d;
}

#phone-close {
    position: absolute;
    right: 19%;
    top: 5%;
    font-size: 28px;
    cursor: pointer;
}

.settings-pane {
    background-color: #fff;
    width: 8%;
    position: absolute;
    top: 16%;right: 5%;
    height: 23vh;
    display: none;
}

.settings-pane.open {
    height: 23vh;
    display: block;
}

.fa-brush {
    right: 7%;
    top: 5%;
    font-size: 28px;
    cursor: pointer;
    position: absolute;
}

.fa-brush:hover {
    background-color: #f7efec;
    padding: 6px 9px;
    border-radius: 50%;
    color: #a09e9d;
}

.search-engines {
    background: #fff;
    width: 10%;
    height: 25vh;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    padding: 10px;
    justify-content: space-between;
    position: absolute;
    top: 37%;
    margin: 15px;
    right: 5%;
    border-radius: 15px;
    display: none;
}

.search-engines.open {
    display: block;
}

.google:hover, .bing:hover, .duckey:hover, .wikipedia:hover {
    transform: translateX(0.1em);
}

@media screen and (max-width: 768px) {
    .input-box {
        width: 100%;
    }
    span {
        margin: 10px 5px;
        background-color: #ffffff54;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 12px;
    }
    h1 {
        margin-left: 12px;
    }
    .fa-th {
        right: 15%;
    }
    
    .fa-bars {
        right: 15%;
    }
    .menu-content {
        display: block;
        width: 50%;
        right: 3%;
        top: 15%;
    }
    .phone_call.call {
        display: block;
        width: 50%;
        right: 14%;
        top: 15%;
    }
    .callus {
        font-size: 14px;
        margin-right: 9px;
    }
    .fa-phone {
        right: 24%;
    }
    .fa-close {
        right: 24%;
    }
    .fa-xmark {
        right: 15%;
    }
    .fa-gear {
        right: 6%;
    }
    .fa-brush {
        right: 6%;
    }
    .search-engines {
        right: 24px;
        width: 31%;
    }
 }


